<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="adwlinks">
				<div class="ADW-logo-written">
					<%= link_to image_tag("adw-title.png", alt: "Animal Diversity Web Written Logo"), 'http://animaldiversity.ummz.umich.edu/' %>
				</div>
				<div class="ADW-logo">
					<%= link_to image_tag("large/ADW-Web-logo-production-4-N.png", alt: "Animal Diversity Web Logo"), 'http://animaldiversity.ummz.umich.edu/' %>
				</div>
			</div>
			<div class="umlinks">
				<div class="UMMZ-logo">
					<%= link_to image_tag("ummz-title.png", alt: "University of Michigan - Museum of Zoology"), 'http://www.lsa.umich.edu/ummz/' %>
				</div>
				<div class="UM-logo">
					<%= link_to image_tag("block-m.png", alt: "University of Michigan"), 'http://www.umich.edu/' %>
				</div>
			</div>
			<!-- <%= link_to "sample app", '#', id: "logo" %> -->
			<!-- <nav>
			<ul class="nav pull-right">
			<li>
			<%= link_to "API",    '#' %>
			</li>
			<li>
			<%= link_to "Developers",    '#' %>
			</li>
			<li>
			<%= link_to "Contact Us", '#' %>
			</li>
			</ul>
			</nav> -->
		</div>
	</div>
</header>