<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div id="adwlinks">
				<div id="ADW-logo-written">
					<%= link_to image_tag("adw-title.png", alt: "Animal Diversity Web Written Logo"), 'http://animaldiversity.ummz.umich.edu/' %>
				</div>
				<div id="ADW-logo">
					<%= link_to image_tag("large/ADW-Web-logo-production-4-N.png", alt: "Animal Diversity Web Logo"), 'http://animaldiversity.ummz.umich.edu/' %>
				</div>
			</div>
			<div id="umlinks">
				<div id="UMMZ-logo">
					<%= link_to image_tag("ummz-title.png", alt: "University of Michigan - Museum of Zoology"), 'http://www.lsa.umich.edu/ummz/' %>
				</div>
				<div id="UM-logo">
					<%= link_to image_tag("block-m.png", alt: "University of Michigan"), 'http://www.umich.edu/' %>
		  <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
			  <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
				</div>
			</div>
			<!-- <%= link_to "sample app", '#', id: "logo" %> -->
			<!-- <nav>
			<ul class="nav pull-right">
			<li>
			<%= link_to "API",    '#' %>
			</li>
			<li>
			<%= link_to "Developers",    '#' %>
			</li>
			<li>
			<%= link_to "Contact Us", '#' %>
			</li>
			</ul>
			</nav> -->
		</div>
	</div>
</header>